<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {{ if current_template != 'errors.404' }}
            {{ seo_pro:meta }}
        {{ /if }}

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-YF3J0TJRTM"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-YF3J0TJRTM');
        </script>

        <link rel="apple-touch-icon" sizes="180x180" href="{{ config:app:url }}assets/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ config:app:url }}assets/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ config:app:url }}assets/favicon/favicon-16x16.png">
        <link rel="manifest" href="{{ config:app:url }}assets/favicon/site.webmanifest">

        <link rel="preconnect" rel="stylesheet" href="https://use.typekit.net/yim3ewy.css">
        <link rel="stylesheet" href="{{ mix src='/css/head.css' }}">
        <link rel="stylesheet" href="{{ mix src='/css/site.css' }}" rel="preload">
        
        {{ if json_citation_data }}
            <script type="application/ld+json">
            {{ json_citation_data }}
            </script>
        {{ /if }}

        {{ partial src="includes/schema" }}

    </head>
    <body class="{{ if !is_homepage }} not-homepage {{ /if }} {{ if collection == 'clients' }} client-template {{ /if }} {{template}}-template {{ slug }}">
        <div id="app" class="wrapper">
            {{ partial src="includes.header" }}
            
            {{ template_content }}
            
            {{ partial src="includes.footer" }}
        </div>


        <svg style="width:0;height:0;position:absolute;" aria-hidden="true" focusable="false">
            <linearGradient id="icon-gradient" x2="1" y2="1">
              <stop offset="0%" stop-color="rgba(101,179,195,1)" />
              <stop offset="100%" stop-color="rgba(224,255,31,1)" />
            </linearGradient>
          </svg>

        <script src="/vendor/statamic/frontend/js/helpers.js" defer></script>
        <script src="{{ mix src='/js/site.js' }}" defer></script>

        {{ if current_template == 'templates/article' }}
            <script src="/js/prism.js" defer></script>
        {{ /if}}
    </body>
</html>
