<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {{ if current_template != 'errors.404' }}
            {{ seo_pro:meta }}
        {{ /if }}
        <meta property="og:image" content="assets/ravenna-com-og-cover.png">

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-24095280-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-24095280-1');
        </script>

        <link rel="apple-touch-icon" sizes="180x180" href="{{ config:app:url }}assets/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ config:app:url }}assets/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ config:app:url }}assets/favicon/favicon-16x16.png">
        <link rel="manifest" href="{{ config:app:url }}assets/favicon/site.webmanifest">

        <link rel="preconnect" rel="stylesheet" href="https://use.typekit.net/yim3ewy.css">
        <link rel="stylesheet" href="{{ mix src='/css/head.css' }}">
        <link rel="stylesheet" href="{{ mix src='/css/site.css' }}" rel="preload">

        <!-- Begin Inspectlet Asynchronous Code -->
        <script type="text/javascript">
            (function() {
            window.__insp = window.__insp || [];
            __insp.push(['wid', 239742123]);
            var ldinsp = function(){
            if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js?wid=239742123&r=' + Math.floor(new Date().getTime()/3600000); var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
            setTimeout(ldinsp, 0);
            })();
        </script>
        <!-- End Inspectlet Asynchronous Code -->
    </head>
    <body class="{{ if !is_homepage }} not-homepage {{ /if }} {{ if collection == 'clients' }} client-template {{ /if }} {{template}}-template">
        <div id="app" class="wrapper">
            {{ partial src="includes.header" }}
            
            {{ template_content }}
            
            {{ partial src="includes.footer" }}
        </div>


        <svg style="width:0;height:0;position:absolute;" aria-hidden="true" focusable="false">
            <linearGradient id="icon-gradient" x2="1" y2="1">
              <stop offset="0%" stop-color="rgba(101,179,195,1)" />
              <stop offset="100%" stop-color="rgba(224,255,31,1)" />
            </linearGradient>
          </svg>

        <script src="/vendor/statamic/frontend/js/helpers.js" defer></script>
        <script src="{{ mix src='/js/site.js' }}" defer></script>
    </body>
</html>
