<div class="block-section articles-wrapper mt-5 pt-5">
    <div class="container">
    <div class="row">
        {{ collection:articles paginate="9" as="posts" }}
            {{ if no_results }}
                <p>Aww, there are no results.</p>
            {{ /if }}

            {{ posts }}
                    <div class="col-12 col-md-4 mb-5 blog-listing-item">
                        <article>
                            {{ if background_image }}                        
                                <div class="blog-thumb mb-4" style="background-image: url({{ background_image }});">
                                    <a href="{{ url }}"></a>
                                </div>
                            {{ elseif thumbnail}}
                                <div class="blog-thumb mb-4" style="background-image: url({{ thumbnail }});">
                                    <a href="{{ url }}"></a>
                                </div>
                            {{ /if }}
                            <h4 class="mb-3"><a href="{{ url }}">{{ title }}</a></h4>
                            <a href="{{ url }}" class="btn">Read It</a>
                        </article>
                    </div>
            {{ /posts }}
        
            {{ paginate }}
                <nav aria-label="Articles links" class="mt-5 d-flex flex-row justify-content-center">
                    <ul class="pagination">
                        {{ if prev_page }}
                            <li class="page-item"><a class="page-link" href="{{ prev_page }}">&laquo;</a></li>
                        {{ else }}
                            <li class="page-item disabled"><a href="#" class="page-link disabled"><span>&laquo;</span></a></li>
                        {{ /if }}

                        {{ links:all }}
                            {{ if page == current_page }}
                                <li class="page-item active"><a href="" class="page-link disabled"><span>{{ page }}</span></a></li>
                            {{ else }}
                                <li class="page-item"><a class="page-link" href="{{ url }}">{{ page }}</a></li>
                            {{ /if }}
                        {{ /links:all }}

                        {{ if next_page }}
                            <li class="page-item"><a class="page-link" href="{{ next_page }}">&raquo;</a></li>
                        {{ else }}
                            <li class="page-item disabled"><a href="" class="page-link disabled"><span>&raquo;</span></a></li>
                        {{ /if }}
                    </ul>
                </nav>
            {{ /paginate }}

        {{ /collection:articles }}
    </div>
    </div>
</div>