<div class="block-section articles-wrapper mt-5 pt-5">
    <div class="container">
    <div class="row">
        {{ collection:jobs paginate="9" as="posts" }}
            {{ if no_results }}
                <p>Aww, there are no results.</p>
            {{ /if }}

            {{ posts }}
                    <div class="col-12 col-md-4 mb-5 career-listing-item">
                        <article>
                         
                            <h4 class="mb-3"><a href="{{ url }}">{{ title }}</a></h4>
                            <p>{{short_description}}</p>
                            <a href="{{ url }}" class="btn">Learn More</a>
                        </article>
                    </div>
            {{ /posts }}
        
            

        {{ /collection:jobs }}
    </div>
    </div>
</div>