<div class="block-section articles-wrapper mt-5 pt-5">
    <div class="container">
    <div class="row">
        {{ collection:jobs paginate="9" as="jobs" }}
            {{ if no_results }}
                <p>Aww, there are no results.</p>
            {{ /if }}

            {{ jobs scope="job" }}
                    <div class="col-12 col-md-4 mb-5 blog-listing-item career-listing-item">
                        <article>
                            {{ if thumbnail}}
                                <div class="blog-thumb mb-4" style="background-image: url({{ job:thumbnail }});">
                                    <a href="{{ job:url }}"></a>
                                </div>
                            {{ /if }}
                            <h4 class="mb-3 seafoam"><a href="{{ job:url }}">{{ job:title }}</a></h4>
                            <p>{{ job:short_description }}</p>
                            <a href="{{ job:url }}" class="btn">Learn More</a>
                        </article>
                    </div>

                {{ /jobs }}
        {{ /collection:jobs }}
    </div>
    </div>
</div>