

<div class="block-section columns {{ block_padding}}-padding">
    <div class="container">
        <div class="row">
            {{ if intro }}
                <div class="col-12 mb-5">
                    {{ intro }}
                </div>  
            {{ /if }}

            <div class="row">
                {{ columns }}
                <div class="col-12 {{ if columns_per_row == '2' }} col-md-6 {{ elseif columns_per_row == 3 }} col-md-4 {{ elseif columns_per_row == 4 }} col-md-3 {{ /if }}">
                    {{ content }}
                </div>
                {{ /columns }}
            </div>

            {{ if outro }}
                <div class="col-12 col-md-8 offset-md-2 mt-5">
                    {{ outro }}
                </div>
        {{ /if }}
        </div>
    </div>
</div>
