<div class="block-section logo-wall {{ block_padding}}-padding">
    <div class="container">
        <div class="h2">Brands we work
            with might <br>l<div class="eyes">
            <div class="eye">
                <div class="eb"></div>
            </div>
            <div class="eye">
                <div class="eb"></div>
            </div>
        </div>k familiar.</div class="h2">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <div class="client-boxes" x-data="{
                    rotate: [
                        'rotate-one',
                        'rotate-two',
                        'rotate-three'
                    ],
                    random(){
                        return this.rotate[(Math.random() * this.rotate.length) | 0];
                    }
            
                }">
                    {{ logo_wall }}
                        <div class="client-box" :class="random">
                            <a href="{{ url }}" title="{{ title }}">
                                <img src="{{ logo }}" alt="{{ title }}">
                            </a>
                        </div>
                    {{ /logo_wall }}
                </div>
            </div>
        </div>
    </div>
</div>