<div class="block-section offset-boxes {{ block_padding}}-padding">
    <div class="container">
        <div class="row service-types">
            <div class="col-12 col-md-5">
                <div class="service-card no-border">
                    {{ title }}
                </div>
            
                {{ boxes }}
                    {{ if index < 1  }}
                        <div class="service-card" :data-index="index">
                         {{ content as="sets"}}
                            {{ sets }} 
                                {{ if type == "icon" }}
                                    <div class="icon">
                                        {{ partial src="includes/icons/{icon_output}" }}
                                    </div>                           
                                {{ else }}
                                    {{ text | raw | bard_html }}
                                {{ /if }}
                            {{ /sets }}
                        {{ /content }}
                        </div>
                    {{ /if }}
                {{ /boxes }}
            </div>
            <div class="col-12 col-md-7">
                {{ boxes }}
                    {{ if index >= 1  }}
                        <div class="service-card">
                            {{ content as="sets"}}
                            {{ sets }} 
                                {{ if type == "icon" }}
                                    <div class="icon">
                                        {{ partial src="includes/icons/{icon_output}" }}
                                    </div>   
                                {{ else }}
                                    {{ text | raw | bard_html }}
                                {{ /if }}
                            {{ /sets }}
                        {{ /content }}
                        </div>
                    {{ /if }}
                {{ /boxes }}
            </div>
        </div>

        <div class="row pb-5">
            <div class="col text-center"><a href="{{link}}" title="Lets Talk" class="btn">Lets Talk</a></div>
        </div>
    </div>
</div>