<div class="block-section quote {{ block_padding}}-padding" style="background-image: url('{{ background_image}}');">
    <div class="hero-overlay"></div>

    <div class="container quote-container">
        <div class="row">
            <div class="col col-lg-8 offset-lg-2">
                

                <div class="left-quote"><div class="quote-icon">{{ partial:includes.icons.quote-left }}</div></div><blockquote>{{ quote }}</blockquote>
                <p>- {{ name_title }}</p>
            </div>
        </div>
    </div>

</div>
