<section class="section blog-section natural-scroll" style="z-index: 89;">
    <div class="container">
        <div class="row mb-5">
            <div class="col">
                <h2 class="text-center">Latest Thinking</h2>
            </div>
        </div>
        <div class="row">
            {{ collection from="articles" limit="3" }}
                <div class="col-12 col-md-4 mb-5">
                    {{ if background_image }}                        
                        <div class="blog-thumb mb-4" style="background-image: url({{ background_image }});">
                            <a href="{{ url }}" title="{{ title }}"></a>
                        </div>
                    {{ elseif thumbnail}}
                        <div class="blog-thumb mb-4" style="background-image: url({{ thumbnail }});">
                            <a href="{{ url }}" title="{{ title }}" class="title"></a>
                        </div>
                    {{ /if }}
                    <h4 class="mb-3">{{ title }}</h4>
                    <a href="{{ url }}" class="btn" title="{{ title }}">Read It</a>
                </div>
            {{ /collection }}
        </div>
    </div>
</section>