<section class="section-fixed" id="section-1" data-scroll="1.5" style="z-index: 80;">
    <div class="section-one-inner">
        <div class="ravenna-main" >
            <img src="{{ config:app:url }}assets/img/ravenna.svg" alt="Ravenna">
        </div>

        <div class="ghost" id="ghost-one">
            <img src="{{ config:app:url }}assets/img/ravenna-outline.svg" alt="Ravenna Outline"></div>

        <div class="ghost" id="ghost-two">
            <img src="{{ config:app:url }}assets/img/ravenna-outline.svg" alt="Ravenna Outline"></div>

        <div class="ghost" id="ghost-three">
            <img src="{{ config:app:url }}assets/img/ravenna-outline.svg" alt="Ravenna Outline"></div>

        <div class="ghost" id="ghost-four">
            <img src="{{ config:app:url }}assets/img/ravenna-outline.svg" alt="Ravenna Outline"></div>

        <div class="ghost" id="ghost-five">
            <img src="{{ config:app:url }}assets/img/ravenna-outline.svg" alt="Ravenna Outline"></div>
            

        <div class="you-can-scroll">
            <div class="arrow"></div>
        </div>
    </div>
</section>