<section class="natural-scroll auto-height" id="section-2" data-scroll="1" style="z-index: 90;">
    <div class="section-2-shape"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-5">
                <h3><span class="seafoam">We Build</span> <br>Strategically</h3>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-end">
            <div class="col-12 offset-lg-8 col-lg-4 intro-copy">
                <p>We are Ravenna. We know development like the back of our hand— but to be honest, so does everybody else.</p>
                <p>What makes us different is our approach — at Ravenna, we use our ears as much as our keyboards. Listening is the key to making sure your business is supported by what we develop, and that everything is integrated, connected, and seamless to use. </p>
                <p>You can find any web firm that excels at technology— let’s have a conversation, and you’ll see why working with our team feels different.</p>
            </div>
        </div>
    </div>
</section>