<section class="natural-scroll auto-height" id="section-2" data-scroll="1" style="z-index: 90;">
    <div class="section-2-shape"></div>
    <div class="container-fluid container-xl">
        <div class="row">
            <div class="col-12 col-md-7 col-lg-6 col-xl-5">
                <h3><span class="seafoam">Strategic</span> <br>Web Design & Development</h3>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8 offset-xl-7 col-xl-5 intro-copy">
                <p>We are Ravenna. A website design and development firm in Seattle, WA. We know design and development like the back of our hand— but to be honest, so does everybody else.</p>
                <p>What makes us different is our approach — at Ravenna, we use our ears as much as our keyboards. Listening is the key to making sure your business is supported by what we develop and that everything is integrated, connected, and seamless to use.</p>
                <p>You can find any web firm that excels at technology— let’s have a conversation, and you’ll see why working with our team feels different.</p>
                <p><a href="#section-4" class="btn btn-primary">Lets Talk</a></p>
            </div>
        </div>
    </div>
</section>