<section class="section" id="section-tech">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h3 class="teal text-center mb-5">We build things people use</h3>
                <p class="lead"></p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-4 offset-lg-1">
                <div class="home-feat-service">
                    <div class="hft-img mb-4">
                        <img src="{{ config:app:url }}assets/img/laravel.png" alt="Laravel" class="img-fluid">
                    </div>
                    <div class="d-block d-lg-none mb-5">
                        <h5>Laravel</h5>
                        <p>We are a full-stack web engineering firm and our favorite framework is Laravel. We love it. Not so much that we want to marry it but if you could marry a framework, we'd pick Laravel.</p>
                        <p>We've built web applications for fin-tech, startups, NFL head coaches and more.</p>
                    </div>
                </div>
              
            </div>
            <div class="col-12 col-lg-4 offset-lg-2">
                <div class="home-feat-service">
                    <div class="hft-img mb-4">
                        <img src="{{ config:app:url }}assets/img/statamic.png" alt="Statamic" class="img-fluid">
                        {{ partial src="includes.certified" }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-4 offset-lg-1">
                <div class="home-feat-service">
                    <h5>Laravel</h5>
                    <p>We are a full-stack web engineering firm and our favorite framework is Laravel. We love it. Not so much that we want to marry it but if you could marry a framework, we'd pick Laravel.</p>
                    <p>We've built web applications for fin-tech, startups, NFL head coaches and more.</p>
                </div>
            </div>
            <div class="col-12 col-lg-4 offset-lg-2 d-none d-lg-block">
                <div class="home-feat-service">
                    <h5>Statamic</h5>
                    <p>Easy for content authors, and refreshing if you are coming from another CMS. Statamic is trusted by the likes of Disney, OpenTable and more. We think you'll love it as much as we do. </p>
                    <p>As a Statamic certified agency we think its the bees knees and thats saying something.</p>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p class="text-center">We also build with React, Vue, Alpine, WordPress, Shopify and more.</p>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
</section>