<section class="section" id="section-tech">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1 class="mb-5">Website and Application Development</h1>
                <p class="lead"></p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-4 offset-lg-1">
                <div class="home-feat-service">
                    <div class="hft-img mb-4">
                        <img src="{{ config:app:url }}assets/img/laravel.png" alt="Laravel" class="img-fluid" loading="lazy">
                        {{ partial src="includes.certified" }}

                    </div>
                    <div class="d-block d-lg-none mb-5">
                        <h5>Laravel</h5>
                        <p>We are a full-stack web engineering firm and our favorite framework is Laravel. We love it. Not so much that we want to marry it but if you could marry a framework, we'd pick Laravel.</p>
                        <p>We've built web applications for fin-tech, startups, an NFL head coach and more.</p>
                        <p>
                            <a href="{{ config:app:url }}laravel-web-application-development-services" title="Laravel Development Services" class="btn">Learn More</a>
                        </p>
                    </div>
                </div>
              
            </div>
            <div class="col-12 col-lg-4 offset-lg-2">
                <div class="home-feat-service">
                    <div class="hft-img mb-4">
                        <img src="{{ config:app:url }}assets/img/statamic.png" alt="Statamic" class="img-fluid" loading="lazy">
                        {{ partial src="includes.certified" }}
                    </div>
                    <div class="d-block d-lg-none mb-5">
                        <h5>Statamic</h5>
                        <p>Easy for content authors, and refreshing if you are coming from another CMS. Statamic is trusted by the likes of Disney, OpenTable and more. We think you'll love it as much as we do. </p>
                        <p>As a Statamic certified agency we think its the bees knees and thats saying something.</p>
                        <p>
                            <a href="{{ config:app:url }}statamic-development-services" title="Statamic Development Services" class="btn">Learn More</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-4 offset-lg-1 d-none d-lg-block">
                <div class="home-feat-service">
                    <h5>Laravel</h5>
                    <p>We are a full-stack web engineering firm and our favorite framework is Laravel. We love it. Not so much that we want to marry it but if you could marry a framework, we'd pick Laravel.</p>
                    <p>We've built web applications for fin-tech, startups, an <a href="clients/compete-to-create" title="Laravel Development">NFL head coach</a> and more.</p>
                    <p>
                        <a href="{{ config:app:url }}laravel-web-application-development-services" title="Laravel Development Services" class="btn">Learn More</a>
                    </p>

                </div>
            </div>
            <div class="col-12 col-lg-4 offset-lg-2 d-none d-lg-block">
                <div class="home-feat-service">
                    <h5>Statamic</h5>
                    <p>Easy for content authors, and refreshing if you are coming from another CMS. Statamic is trusted by the likes of Disney, OpenTable and more. We think you'll love it as much as we do. </p>
                    <p>As a Statamic certified agency we think its the bees knees and thats saying something.</p>
                    <p>
                        <a href="{{ config:app:url }}statamic-development-services" title="Statamic Development Services" class="btn">Learn More</a>
                    </p>

                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col">
                <div class="row me-4">
                    <div class="col">
                        <p class="text-center">We also build with React, Vue, Alpine, Squarespace, WordPress, Shopify and more.</p>
                    </div>
                  
                </div>

                <div class="row">
                    <div class="col">
                        <ul class="d-flex flex-row tech-links">
                            <li>
                                <a href="https://www.designrush.com/agency/search-engine-optimization/trends/affordable-seo-services-for-small-business"><img src="{{ config:app:url }}assets/top-web-development-companies.svg" alt="Design Rush"></a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.goodfirms.co/directory/cms/top-website-development-companies"><img class="good-firms" src="https://assets.goodfirms.co/badges/normal-badge/top-website-development-companies.svg" title="Web Development Company" alt="Web Development Company"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>