#app h1 {
  font-weight: 700;
}
#app h2, #app h3 {
  color: white;
}
#app h2 {
  font-size: 3.5rem;
  line-height: 1;
  font-weight: 900;
}
@media (max-width: 991px) {
  #app h2 {
    font-size: 6.5rem;
  }
}
@media (max-width: 767px) {
  #app h2 {
    font-size: 4rem;
  }
}
#app h3 {
  font-size: 3.75rem;
  font-weight: 700;
}
@media (max-width: 767px) {
  #app h3 {
    font-size: 2.8rem;
  }
}
#app h4, #app h5 {
  font-weight: 700;
}
#app p, #app li {
  color: white;
  font-size: 1.125rem;
}
#app li p {
  margin-bottom: 0px;
}

@keyframes shake {
  5% {
    transform: translate3d(-1px, 0, 0);
  }
  8% {
    transform: translate3d(3px, 0, 0);
  }
  11% {
    transform: translate3d(-5px, 0, 0);
  }
  14% {
    transform: translate3d(5px, 0, 0);
  }
  17% {
    transform: translate3d(0px, 0, 0);
  }
  100% {
    transform: translate3d(0px, 0, 0);
  }
}
@keyframes shakeold {
  5%, 45% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@keyframes loopOne {
  0% {
    margin-top: 0;
  }
  15% {
    margin-top: -50px;
  }
  30% {
    margin-top: -10px;
  }
  45% {
    margin-top: -90px;
  }
  60% {
    margin-top: -20px;
  }
  75% {
    margin-top: -130px;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes loopTwo {
  0% {
    margin-top: 0;
  }
  15% {
    margin-top: -140px;
  }
  30% {
    margin-top: -50px;
  }
  45% {
    margin-top: -180px;
  }
  60% {
    margin-top: -60px;
  }
  75% {
    margin-top: -220px;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes loopThree {
  0% {
    margin-top: 0;
  }
  15% {
    margin-top: 60px;
  }
  30% {
    margin-top: 10px;
  }
  45% {
    margin-top: 100px;
  }
  60% {
    margin-top: 20px;
  }
  75% {
    margin-top: 140px;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes loopFour {
  0% {
    margin-top: 0;
  }
  15% {
    margin-top: 120px;
  }
  30% {
    margin-top: 50px;
  }
  45% {
    margin-top: 180px;
  }
  60% {
    margin-top: 60px;
  }
  75% {
    margin-top: 230px;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes loopFive {
  0% {
    margin-top: 0;
  }
  15% {
    margin-top: 180px;
  }
  30% {
    margin-top: 90px;
  }
  45% {
    margin-top: 260px;
  }
  60% {
    margin-top: 100px;
  }
  75% {
    margin-top: 320px;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes loopMobOne {
  0% {
    margin-top: 0;
  }
  15% {
    margin-top: -15px;
  }
  30% {
    margin-top: -5px;
  }
  45% {
    margin-top: -40px;
  }
  60% {
    margin-top: -15px;
  }
  75% {
    margin-top: -70px;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes loopMobTwo {
  0% {
    margin-top: 0;
  }
  15% {
    margin-top: -40px;
  }
  30% {
    margin-top: -15px;
  }
  45% {
    margin-top: -90px;
  }
  60% {
    margin-top: -30px;
  }
  75% {
    margin-top: -140px;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes loopMobThree {
  0% {
    margin-top: 0;
  }
  15% {
    margin-top: 15px;
  }
  30% {
    margin-top: 5px;
  }
  45% {
    margin-top: 30px;
  }
  60% {
    margin-top: 15px;
  }
  75% {
    margin-top: 64px;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes loopMobFour {
  0% {
    margin-top: 0;
  }
  15% {
    margin-top: 40px;
  }
  30% {
    margin-top: 10px;
  }
  45% {
    margin-top: 70px;
  }
  60% {
    margin-top: 30px;
  }
  75% {
    margin-top: 120px;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes loopMobFive {
  0% {
    margin-top: 0;
  }
  15% {
    margin-top: 70px;
  }
  30% {
    margin-top: 20px;
  }
  45% {
    margin-top: 110px;
  }
  60% {
    margin-top: 50px;
  }
  75% {
    margin-top: 170px;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes swing {
  0% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}
.header {
  background: #050D09;
  text-align: center;
  position: fixed;
  padding: 10px 0;
  z-index: 100000;
  top: 0px;
  opacity: 1;
}
.header .ravenna-logo {
  width: 160px;
  height: auto;
  margin: 0 auto;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
.header .ravenna-logo img {
  max-width: 100%;
}
.header.shown .ravenna-logo {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.header .hamburglar-wrapper {
  position: absolute;
  right: 16px;
  top: 12px;
  z-index: 10;
}
.header .hamburglar-wrapper .hamburglar {
  position: relative;
  height: 23px;
  width: 40px;
  z-index: 10;
  cursor: pointer;
}
.header .hamburglar-wrapper .hamburglar .line {
  position: absolute;
  display: block;
  height: 3px;
  width: 40px;
  background: #5AECA4;
  transition: color 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4) 0.5s, transform 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}
.header .hamburglar-wrapper .hamburglar.open .line {
  background: #050D09;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}
.header .hamburglar-wrapper .hamburglar .burger-bun-top {
  top: 0;
}
.header .hamburglar-wrapper .hamburglar .burger-filling {
  top: 10px;
}
.header .hamburglar-wrapper .hamburglar .burger-bun-bot {
  bottom: 0;
}
.header .hamburglar-wrapper .hamburglar.open .burger-bun-top {
  top: 10px;
}
.header .hamburglar-wrapper .hamburglar.open .burger-filling {
  top: 10px;
}
.header .hamburglar-wrapper .hamburglar.open .burger-bun-bot {
  top: 10px;
}
.header .hamburglar-wrapper .hamburglar:hover .burger-bun-top {
  transform: scaleX(0.8);
}
.header .hamburglar-wrapper .hamburglar:hover .burger-filling {
  transform: scaleX(0.5);
}
.header .hamburglar-wrapper .hamburglar:hover .burger-bun-bot {
  transform: scaleX(0.8);
}
.header .hamburglar-wrapper .nav {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 8;
  width: 0px;
  height: 0px;
  transition: all 0.3s ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #5AECA4;
  overflow: hidden;
}
.header .hamburglar-wrapper .nav.open {
  width: 100vw;
  height: 100vh;
  transition: all 0.3s ease-in-out;
}
.header .hamburglar-wrapper .nav .nav-logo {
  position: absolute;
  top: 10px;
  width: 160px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.header .hamburglar-wrapper .nav .nav-logo img {
  max-width: 100%;
}
.header .hamburglar-wrapper .nav ul {
  padding-left: 0px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.header .hamburglar-wrapper .nav ul li {
  list-style: none;
}
.header .hamburglar-wrapper .nav ul li a {
  font-size: 2rem;
  font-weight: 700;
  color: #050D09;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}
@media (max-width: 767px) {
  .header .hamburglar-wrapper .nav ul li a {
    font-size: 1.5rem;
  }
}
.header .hamburglar-wrapper .nav ul li a:before {
  content: "";
  position: absolute;
  left: -25px;
  top: 15px;
  height: 20px;
  width: 20px;
  background-color: #050D09;
  -webkit-clip-path: polygon(50% 1%, 50% 1%, 50% 1%, 63% 20%, 63% 20%, 63% 20%, 63% 20%, 86% 15%, 86% 15%, 86% 15%, 81% 38%, 81% 38%, 81% 38%, 100% 50%, 100% 50%, 100% 50%, 81% 63%, 81% 63%, 81% 63%, 86% 86%, 86% 86%, 86% 86%, 63% 81%, 63% 81%, 63% 81%, 50% 100%, 50% 100%, 50% 100%, 37% 81%, 37% 81%, 37% 81%, 14% 86%, 14% 86%, 14% 86%, 19% 63%, 19% 63%, 19% 63%, 0% 50%, 0% 50%, 0% 50%, 19% 38%, 19% 38%, 19% 38%, 14% 15%, 14% 15%, 14% 15%, 37% 20%, 37% 20%, 37% 20%, 37% 20%);
          clip-path: polygon(50% 1%, 50% 1%, 50% 1%, 63% 20%, 63% 20%, 63% 20%, 63% 20%, 86% 15%, 86% 15%, 86% 15%, 81% 38%, 81% 38%, 81% 38%, 100% 50%, 100% 50%, 100% 50%, 81% 63%, 81% 63%, 81% 63%, 86% 86%, 86% 86%, 86% 86%, 63% 81%, 63% 81%, 63% 81%, 50% 100%, 50% 100%, 50% 100%, 37% 81%, 37% 81%, 37% 81%, 14% 86%, 14% 86%, 14% 86%, 19% 63%, 19% 63%, 19% 63%, 0% 50%, 0% 50%, 0% 50%, 19% 38%, 19% 38%, 19% 38%, 14% 15%, 14% 15%, 14% 15%, 37% 20%, 37% 20%, 37% 20%, 37% 20%);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.header .hamburglar-wrapper .nav ul li a:hover:before {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.header .hamburglar-wrapper .nav ul li > ul {
  border-top: 2px solid #050D09;
}
.header .hamburglar-wrapper .nav.open .nav-logo {
  opacity: 1;
  transition: opacity 0.3s ease-in-out 0.5s;
}
.header .hamburglar-wrapper .nav.open ul {
  opacity: 1;
  transition: opacity 0.3s ease-in-out 0.5s;
}

body.not-homepage .ravenna-logo {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.section, section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #050D09;
  overflow: hidden;
  position: relative;
  top: 0;
  transition: top 0.5s ease-in-out;
}
.section.section-fixed, section.section-fixed {
  position: fixed;
}
.section.natural-scroll, section.natural-scroll {
  height: auto;
  position: relative;
  padding: 40px;
  min-height: 100vh;
}
@media (max-width: 991px) {
  .section.natural-scroll, section.natural-scroll {
    padding: 5px;
  }
}
.section.auto-height, section.auto-height {
  height: auto;
}
.section.full-height, section.full-height {
  height: 100vh;
}
.section.white-bg, section.white-bg {
  background-color: #F7F7F8;
}
.section.gray-bg, section.gray-bg {
  background-color: #9dA2A7;
}
.section.halftone-bg, section.halftone-bg {
  background: linear-gradient(180deg, rgb(0, 0, 0) 50%, rgb(255, 255, 255) 50%);
}
.section.finished, section.finished {
  top: -100vh;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.section h1, section h1 {
  z-index: 10;
  color: #5AECA4;
  text-align: center;
  background: #050D09;
  width: calc(100% + 64px);
  text-align: center;
  position: relative;
  left: -64px;
}
@media (max-width: 991px) {
  .section h1, section h1 {
    left: auto;
    width: 100%;
  }
}
.section.white-bg h3, .section.white-bg p, .section.gray-bg h3, .section.gray-bg p, section.white-bg h3, section.white-bg p, section.gray-bg h3, section.gray-bg p {
  color: #050D09;
}

#section-1 {
  overflow: hidden;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}
#section-1 .section-one-inner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#section-1 .ravenna-main {
  margin: 0 !important;
}
#section-1 .ravenna-main {
  z-index: 10;
  color: #5AECA4;
  text-align: center;
  background: #050D09;
  padding: 10px 0;
  width: calc(100% + 64px);
  left: -32px;
  z-index: 20;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 767px) {
  #section-1 .ravenna-main {
    width: calc(100% + 32px);
    left: -18px;
  }
}
#section-1 .ravenna-main img {
  max-width: 100%;
}
#section-1 .ghost {
  position: fixed;
  width: calc(100% + 64px);
  top: 50%;
  transform: translateY(-50%);
  left: -32px;
  opacity: 1;
  background: #050D09;
  padding: 14px 0;
  opacity: 0;
}
@media (max-width: 767px) {
  #section-1 .ghost {
    width: calc(100% + 32px);
    left: -18px;
  }
}
#section-1 .ghost img {
  max-width: 100%;
}
#section-1 .you-can-scroll {
  width: 60px;
  height: 50px;
  position: absolute;
  bottom: 30px;
  left: calc(50% - 30px);
  backface-visibility: hidden;
  z-index: 30;
}
#section-1 .you-can-scroll .arrow:before {
  content: "";
  width: 2px;
  height: 14px;
  background: white;
  position: absolute;
  left: calc(50% - 1px);
  top: 18px;
}
#section-1 .you-can-scroll .arrow:after {
  content: "";
  width: 12px;
  height: 12px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(-45deg);
  position: absolute;
  top: 21px;
  left: calc(50% - 6px);
}
#section-1.animate .ghost {
  opacity: 1;
}
#section-1.animate #ghost-one {
  animation: loopOne 8s cubic-bezier(0.65, 0, 0.35, 1) infinite;
  z-index: 18;
}
@media (max-width: 991px) {
  #section-1.animate #ghost-one {
    animation: loopMobOne 8s cubic-bezier(0.65, 0, 0.35, 1) infinite;
  }
}
#section-1.animate #ghost-two {
  animation: loopTwo 8s cubic-bezier(0.65, 0, 0.35, 1) infinite;
  z-index: 16;
}
@media (max-width: 991px) {
  #section-1.animate #ghost-two {
    animation: loopMobTwo 8s cubic-bezier(0.65, 0, 0.35, 1) infinite;
  }
}
#section-1.animate #ghost-three {
  animation: loopThree 8s cubic-bezier(0.65, 0, 0.35, 1) infinite;
  z-index: 18;
}
@media (max-width: 991px) {
  #section-1.animate #ghost-three {
    animation: loopMobThree 8s cubic-bezier(0.65, 0, 0.35, 1) infinite;
  }
}
#section-1.animate #ghost-four {
  z-index: 16;
  animation: loopFour 8s cubic-bezier(0.65, 0, 0.35, 1) infinite;
}
@media (max-width: 991px) {
  #section-1.animate #ghost-four {
    animation: loopMobFour 8s cubic-bezier(0.65, 0, 0.35, 1) infinite;
  }
}
#section-1.animate #ghost-five {
  z-index: 14;
  animation: loopFive 8s cubic-bezier(0.65, 0, 0.35, 1) infinite;
}
@media (max-width: 991px) {
  #section-1.animate #ghost-five {
    animation: loopMobFive 8s cubic-bezier(0.65, 0, 0.35, 1) infinite;
  }
}

#section-2 {
  position: relative;
  justify-content: space-around;
  margin-top: 100vh;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#section-2 .section-2-shape {
  width: 300px;
  height: 300px;
  position: absolute;
  top: calc(50% - 275px);
  left: calc(50% - 150px);
  z-index: 1;
  -webkit-clip-path: polygon(50% 0%, 54% 17%, 63% 2%, 62% 19%, 74% 6%, 70% 23%, 84% 14%, 76% 29%, 92% 23%, 80% 36%, 97% 35%, 83% 44%, 100% 47%, 84% 52%, 99% 59%, 82% 61%, 96% 72%, 79% 68%, 88% 82%, 73% 75%, 79% 90%, 67% 80%, 69% 96%, 59% 83%, 57% 100%, 51% 84%, 44% 100%, 42% 83%, 32% 97%, 34% 80%, 21% 90%, 27% 75%, 12% 82%, 22% 68%, 6% 71%, 19% 60%, 1% 59%, 17% 52%, 1% 47%, 17% 44%, 3% 34%, 20% 36%, 8% 23%, 24% 29%, 16% 14%, 31% 23%, 26% 6%, 38% 19%, 38% 2%, 46% 17%);
          clip-path: polygon(50% 0%, 54% 17%, 63% 2%, 62% 19%, 74% 6%, 70% 23%, 84% 14%, 76% 29%, 92% 23%, 80% 36%, 97% 35%, 83% 44%, 100% 47%, 84% 52%, 99% 59%, 82% 61%, 96% 72%, 79% 68%, 88% 82%, 73% 75%, 79% 90%, 67% 80%, 69% 96%, 59% 83%, 57% 100%, 51% 84%, 44% 100%, 42% 83%, 32% 97%, 34% 80%, 21% 90%, 27% 75%, 12% 82%, 22% 68%, 6% 71%, 19% 60%, 1% 59%, 17% 52%, 1% 47%, 17% 44%, 3% 34%, 20% 36%, 8% 23%, 24% 29%, 16% 14%, 31% 23%, 26% 6%, 38% 19%, 38% 2%, 46% 17%);
}
@media (max-width: 1199px) {
  #section-2 .section-2-shape {
    width: 200px;
    height: 200px;
    top: 16%;
    left: 60%;
  }
}
@media (max-width: 991px) {
  #section-2 .section-2-shape {
    top: calc(50% - 150px);
    left: calc(50% - 100px);
  }
}
@media (max-width: 767px) {
  #section-2 .section-2-shape {
    opacity: 0.5;
  }
}
#section-2 .section-2-shape:after {
  content: "";
  background: rgb(90, 236, 164);
  background: linear-gradient(41deg, rgb(90, 236, 164) 0%, rgb(224, 255, 31) 100%);
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-clip-path: inherit;
          clip-path: inherit; /* Inherit the clip-path from the parent */
}
#section-2 .container-fluid, #section-2 .container {
  min-height: 40vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}
#section-2 .container-fluid .row, #section-2 .container-fluid .col-12, #section-2 .container .row, #section-2 .container .col-12 {
  height: 100%;
}
#section-2 .container-fluid .col-12, #section-2 .container .col-12 {
  flex-direction: column;
  justify-content: center;
  display: flex;
}
#section-2 .container-fluid .col-12 h3, #section-2 .container .col-12 h3 {
  margin-top: -30px;
}
@media (max-width: 767px) {
  #section-2 .container-fluid .col-12 h3, #section-2 .container .col-12 h3 {
    margin-top: 20px;
  }
}
#section-2 .container-fluid .intro-copy, #section-2 .container .intro-copy {
  position: relative;
  z-index: 10;
}

#section-3 {
  height: auto;
  padding-bottom: 60px;
}
@media (max-width: 991px) {
  #section-3 {
    height: auto;
    padding: 40px 0;
  }
}
#section-3 .eyes {
  display: inline-block;
  padding: 0 14px;
}
@media (max-width: 991px) {
  #section-3 .eyes {
    padding: 0 10px;
  }
}
#section-3 .eyes .eye {
  display: inline-block;
  width: 70px;
  height: 40px;
  background: white;
  position: relative;
  -webkit-clip-path: ellipse(50% 38% at 50% 50%);
          clip-path: ellipse(50% 38% at 50% 50%);
}
@media (max-width: 767px) {
  #section-3 .eyes .eye {
    width: 50px;
    height: 30px;
  }
}
#section-3 .eyes .eye .eb {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #050D09;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
}
#section-3 h2 {
  font-size: 8.125rem;
  line-height: 1;
  font-weight: 900;
}
@media (max-width: 991px) {
  #section-3 h2 {
    font-size: 6.5rem;
  }
}
@media (max-width: 767px) {
  #section-3 h2 {
    font-size: 4rem;
  }
}
#section-3 .client-boxes {
  margin-top: 5rem;
  justify-content: space-between;
}
@media (max-width: 991px) {
  #section-3 .client-boxes {
    justify-content: flex-start;
  }
}
#section-3 .client-boxes .client-box {
  border: 0px;
  height: 220px;
  width: 25%;
  padding: 10px 40px;
  margin: 10px 40px;
}
@media (max-width: 991px) {
  #section-3 .client-boxes .client-box {
    margin-bottom: 40px;
    width: 36%;
    padding: 2%;
  }
}
@media (max-width: 767px) {
  #section-3 .client-boxes .client-box {
    width: 40%;
    padding: 5%;
  }
}
#section-3 .client-boxes .client-box a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}
#section-3 .client-boxes .client-box img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
#section-3 .more-clients {
  position: absolute;
  bottom: 40px;
  text-align: center;
}
#section-3 .more-clients a {
  margin: 0 auto;
}

#section-tech {
  background: white;
  z-index: 90;
  color: #050D09;
  height: auto;
  padding: 80px 0;
}
#section-tech h1 {
  font-size: 3.75rem;
  background: white;
  color: #050D09;
  text-align: center;
}
@media (max-width: 991px) {
  #section-tech h1 {
    text-align: left;
    font-size: 2.8rem;
  }
}
#section-tech p {
  color: #050D09;
}
#section-tech p a {
  color: #050D09;
  text-decoration: underline;
}
#section-tech .home-feat-service {
  color: #050D09;
}
#section-tech .home-feat-service .hft-img {
  position: relative;
}
#section-tech .home-feat-service .hft-img .certified {
  background: #5AECA4;
  position: absolute;
  bottom: 30px;
  left: 0;
  transform: rotate(-20deg);
  padding: 2px;
}
#section-tech .home-feat-service p {
  color: #050D09;
}
#section-tech .tech-links {
  justify-content: center;
  align-items: center;
}
#section-tech .tech-links li {
  margin: 0 20px;
  list-style-type: none;
}
#section-tech .tech-links img {
  width: 110px;
  height: auto;
}
#section-tech .tech-links img.good-firms {
  width: 140px;
}

body {
  font-family: sofia-pro, sans-serif !important;
  font-style: normal !important;
  scroll-behavior: smooth !important;
  background-color: #050D09 !important;
}

body {
  font-display: swap;
}
body.modal-open {
  overflow: hidden;
  padding-right: 0px;
}

#app {
  cursor: url("../assets/img/cursor.png") 13 7, auto !important;
}
#app #section-tech, #app #section-4 {
  cursor: url("../assets/img/cursor-$black.png") 13 7, auto !important;
}
#app a {
  cursor: pointer;
}
#app p:hover, #app h1:hover, #app h2:hover, #app h3:hover, #app h4:hover, #app h5:hover, #app h6:hover, #app li:hover {
  cursor: text;
}
#app .seafoam {
  color: #5AECA4;
}
#app .seafoam-bg {
  background-color: #5AECA4;
}
#app .teal {
  color: #40A6F2;
}
#app .teal-bg {
  background-color: #40A6F2;
}
#app .btn {
  background-color: #5AECA4;
  color: #050D09;
  border-radius: 0px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  padding: 8px 40px 8px;
  border-radius: 30px;
  text-decoration: none;
  display: inline-block;
  border: 0;
  min-width: 150px;
  text-align: center;
}
#app .btn:hover {
  background-color: #D746A6;
  color: white;
  transition: all 0.3s ease-in-out;
}

body.not-homepage .header {
  opacity: 1 !important;
}
body.not-homepage h1 {
  font-size: 7rem;
}
@media (max-width: 991px) {
  body.not-homepage h1 {
    font-size: 5rem;
  }
}
body.not-homepage .hero {
  min-height: 400px;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
