.section.blog-section{
    background: black;
    .blog-thumb{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        height: 240px;
        @include respond-below(md){
            height: 160px;
        }

        a{
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    h4{
        color: white;
    }
}