#section-1{
    overflow: hidden;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    .section-one-inner{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .ravenna-main{
		z-index: 10;
		color: $seafoam;
		text-align: center;
		background: #000;
        padding: 10px 0;
		width: calc(100% + 64px);
		margin:0 !important;
        left: -32px;
        z-index: 20;
        position: fixed;
        top: 50%;
        transform: translateY(-50%);

        @include respond-below(sm){
            width: calc(100% + 32px);
            left: -18px;
        }
        img{
            max-width: 100%;
        }
    }
	.ghost{
		position: fixed;
		width: calc(100% + 64px);
        top: 50%;
        transform: translateY(-50%);
        left: -32px;
		opacity: 1; 
        background: black;
        padding: 14px 0;
        opacity: 0;
        @include respond-below(sm){
            width: calc(100% + 32px);
            left: -18px;
        }
        img{
            max-width:100%;
        }
	}

    .you-can-scroll{
        width: 60px;
        height: 50px;
        position: absolute;
        bottom: 30px;
        left: calc(50% - 30px);
        backface-visibility: hidden;
        z-index: 30;
        
        .arrow{
            &:before{
                content: "";
                width: 2px;
                height: 14px;
                background: white;
                position: absolute;
                left: calc(50% - 1px);
                top: 18px;
            }
            &:after{
                content: "";
                width: 12px;
                height: 12px;
                border-left: 2px solid white;
                border-bottom: 2px solid white;
                transform: rotate(-45deg);
                position: absolute;
                top: 21px;
                left: calc(50% - 6px);
            }
        }
    }

    &.animate{
        .ghost{
            opacity: 1;
        }
        #ghost-one{
            animation: loopOne 8s cubic-bezier(0.65, 0, 0.35, 1) infinite;
            z-index: 18;
            @include respond-below(md){
                animation: loopMobOne 8s cubic-bezier(0.65, 0, 0.35, 1) infinite;
            }
        }
        #ghost-two{
            animation: loopTwo 8s cubic-bezier(0.65, 0, 0.35, 1) infinite;
            z-index: 16;
            @include respond-below(md){
                animation: loopMobTwo 8s cubic-bezier(0.65, 0, 0.35, 1) infinite;
            }
        }
        #ghost-three{
            animation: loopThree 8s cubic-bezier(0.65, 0, 0.35, 1) infinite;
            z-index: 18;
            @include respond-below(md){
                animation: loopMobThree 8s cubic-bezier(0.65, 0, 0.35, 1) infinite;
            }
        }

        #ghost-four{
            z-index: 16;
            animation: loopFour 8s cubic-bezier(0.65, 0, 0.35, 1) infinite;
            @include respond-below(md){
                animation: loopMobFour 8s cubic-bezier(0.65, 0, 0.35, 1) infinite;
            }
        }
        #ghost-five{
            z-index: 14;
            animation: loopFive 8s cubic-bezier(0.65, 0, 0.35, 1) infinite;
            @include respond-below(md){
                animation: loopMobFive 8s cubic-bezier(0.65, 0, 0.35, 1) infinite;
            }
        }
    }
}