#section-tech{
    background: white;
    z-index: 90;
    color: black;
    height: auto;
    padding: 80px 0;
    h1{
        font-size: 3.75rem;
        background: white;
        text-align: center;
        @include respond-below(md){
            text-align: left;
            font-size: 2.8rem;
        }
    }
    p{
        color: black;
        a{
            color: black;
            text-decoration: underline;
        }
    }

    .home-feat-service{
        color: black;
        .hft-img{
            position: relative;
            
            .certified{
                background: $seafoam;
                position: absolute;
                bottom: 30px;
                left: 0;
                transform: rotate(-20deg);
                padding: 2px;
            }
        }
        p{
            color: black;
        }
    }


    .tech-links{
        justify-content: center;
        align-items: center;
        li{
            margin: 0 20px;
            list-style-type: none;
        }
        img{
            width: 110px;
            height: auto;
            &.good-firms{
                width: 140px;
            }
        }
    }
}
