#app .article-wrapper{

    .article-top-band{
        height: 100px;
        background: rgb(224,255,31);
        background: linear-gradient(90deg, rgba(224,255,31,0.8) 0%, rgba(90,232,164,0.8) 100%);
    
    }

    .article-content{
        h1{
            font-size: 4rem;
            margin-bottom: 40px;
            color: white;
        }
        h2{
            font-size: 3rem;
            margin-bottom: 1.5rem;
            margin-top: 2rem;
        }
        li, h4{
            color: white;
        }
        h5, h6{
            color: white;
        }
        li p{
            margin-bottom: 0px;
        }
        ul{
            margin-bottom: 40px;
        }
        p{
            margin-bottom: 40px;
        }
        img{
            max-width: 100%;
            display: block;
        }
        a{
            color: $seafoam;
        }

        .article-ad{
            background: #fff;
            padding: 50px 40px;
            h4, h3{
                color: black;
            }
            p{
                font-size: 16px;
                margin-bottom: 14px;
                color: black;
            }
        }
    }

    .infographic-embed{
        margin-top: 20px;
        display: block;
        width: 100%;
        min-height: 120px;;
        background: transparent;
        color: white;
        border: 1px solid white;
    }

   
}