body.block-page-template, body.clients {

    .blocks-wrapper .block-section:first-child{
        margin-top: 48px;
    }

    .block-section{
        position: relative;

        &.small-padding{
            padding: 40px 0 30px;
        }
        &.medium-padding{
            padding: 80px 0 70px;
        }
        &.large-padding{
            padding: 120px 0 110px;
        }
    }
    h1{
        font-size: 6rem !important;
        background: transparent;
        left: 0;
        width: auto;

        @include respond-below(md){
            font-size: 4rem !important;
        }
        
    }
    h2{
        font-size: 3.5rem;
        @include respond-below(md){
            font-size: 2.5rem !important;
        }
    }

    .block-section.form{
        h3{
            font-size: 3.75rem !important;
        }
        a{
            color: $black;
            text-decoration: underline;
        }
    }
}


.copy-wrapper{
    &.black-color{
        h1, h2, h3, h4, h5, h6, p, ul, li{
            color: $black;
        }
    }
    &.white-color{
        h1, h2, h3, h4, h5, h6, p, ul, li{
            color: #fff;
        }
    }
    a{
        color: $seafoam;
    }

}

.contained-image{
    height: auto;
}