@import 'includes/mixins';
@import 'includes/vars';
@import 'includes/typography';
@import 'includes/animations';
@import 'includes/header';

@import 'sections';

body{
	font-family: sofia-pro, sans-serif !important;
	font-style: normal !important;
	font-display: swap;
	scroll-behavior: smooth !important;
	background-color: black !important;
	&.modal-open{
		overflow: hidden;
		padding-right: 0px;
	}
}

#app{
	cursor: url("../assets/img/cursor.png") 13 7, auto !important;

	#section-tech, #section-4{
		cursor: url("../assets/img/cursor-black.png") 13 7, auto !important;
	}
	a {
		cursor: pointer; //url("../assets/img/cursor.png") 64 12, auto !important; 
	}
	p:hover, h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover, li:hover{
		cursor: text;
	}

	.seafoam{
		color: $seafoam;
	}
	.seafoam-bg{
		background-color: $seafoam;
	}
	
	.teal{
		color: $teal;
	}
	.teal-bg{
		background-color: $teal;
	}
	
	
	
	.btn{
		background-color: $seafoam;
		color: black;
		border-radius: 0px;
		text-transform: uppercase;
		transition: all 0.3s ease-in-out;
		padding: 8px 40px 8px;
		border-radius: 30px;
		text-decoration: none;
		display: inline-block;
		border: 0;
		&:hover{
			background-color: $purple;
			color: white;
			transition: all 0.3s ease-in-out;
		}
	}
}

.not-homepage{

	.header{
		opacity: 1 !important;
	}
	h1{
		font-size: 7rem ;
		@include respond-below(md){
			font-size: 5rem !important;
		}
	}

	.hero{
		min-height: 400px;
		padding: 50px 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}


