@import "~bootstrap/scss/bootstrap";
@import 'mixins';
@import 'vars';
@import 'typography';
@import 'animations';

@import 'carousel';
@import 'form';
@import 'footer';
@import 'header';

body{
	font-family: sofia-pro, sans-serif;
	font-style: normal;
	scroll-behavior: smooth;
	background-color: black;
}



#app{
	position: relative;
	overflow-y: hidden;
	scroll-snap-type: y mandatory;
	&.natural-scroll {
		scroll-snap-align: start;
	}
	cursor: url("../assets/img/cursor.png") 13 7, auto !important;

	a {
		cursor: url("../assets/img/cursor.png") 64 12, auto !important; 
	}
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    transition: $args;
}




.teal{
	color: $seafoam;
}
.teal-bg{
	background-color: $seafoam;
}



@import 'sections';

