
$seafoam: #5ae8a4;
$teal: #65b3c3; 
$blue: #5046c1;
$purple: #c146a6;
$yellow: #E0FF1F;
$white: #f3f3f1;
$gray: #e6e6e6;

//images
$linkedin: '../assets/img/linkedin-in.svg';
$facebook: '../assets/img/facebook-f.svg';
$instagram: '../assets/img/instagram.svg';
$twitter: '../assets/img/twitter.svg';