<section class="natural-scroll white-bg auto-height" id="section-4" data-scroll="1" style="z-index: 100;">
    <div class="container-fluid form-wrapper">
<div>

    {{ form:create 
        in="landing_form"
        id="landing-form"
        js="alpine"
        redirect="/thank-you"
    }}


        {{ if intro }}
            <div class="row">
                <div class="col">
                    {{ intro }}
                </div>
            </div>

        {{ /if }}

        {{ fields }}
            <template x-if="{{ show_field }}">

            <div class="row">
                    <div class="col form-name">
                        <div class="form-row">
                            <label for="name">{{ display }}</label>
                            <div class="form-div"></div>
                            {{ field }}
                        </div>
                        {{ if error }}
                            <p class="error-message text-end text-danger">{{ error }}</p>
                        {{ /if }}
                    </div>
                </div>
            </template>
        {{ /fields }}


        <input type="text" class="hidden" name="{{ honeypot ?? 'honeypot' }}">

        <div class="row">
            <div class="col text-center">
                <button type="submit" class="btn" x-bind:disabled="loading">Fire Away</button>
            </div>
        </div>
{{ /form:create }}

</div>
    </div>
</section>