<footer>
    {{ if !min_footer }}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="footer-logo">
                    <a href="{{ config:app:url }}" title="Ravenna Interactive">
                        <img src="{{ config:app:url }}assets/img/ravenna.png" alt="Ravenna">
                    </a>
                </div>
          
                <div class="footer-social">
                    <a href="https://www.linkedin.com/company/ravenna-llc/" title="LinkedIn" target="_blank">{{ partial src="includes/icons/linkedin" }}</a>
                    <a href="https://partners.laravel.com/partners/ravenna" title="Laravel" target="_blank">{{ partial src="includes/icons/laravel" }}</a>
                </div>              
            </div>

            <div class="col-12 col-md-3">
                <h6 class="mt-3">Menu</h6>
                <ul>
                    {{ nav:footer_menu max_depth="1" }}
                        <li class="{{ nav_class }}"><a href="{{ url }}" title="{{ title }}">{{ title }}</a></li>
                    {{ /nav:footer_menu }}
             
                </ul>
            </div>

            <div class="col-12 col-md-3">
                <h6 class="mt-3">Services</h6>
                <ul>
                    {{ nav:footer_services max_depth="1"}}
                        <li class="{{ nav_class }}"><a href="{{ url }}" title="{{ title }}">{{ title }}</a></li>
                    {{ /nav:footer_services}}
             
                </ul>
            </div>

            <div class="col-12 col-md-3">
                <h6 class="mt-3">Menu</h6>
                <ul>
                    {{ nav:footer_contact max_depth="1" }}
                        <li class="{{ contact_class }}"><a href="{{ url }}" title="{{ title }}">{{ title }}</a></li>
                    {{ /nav:footer_contact }}
             
                </ul>
            </div>
        </div>
    </div>
    {{ /if }}

    <div class="container mt-5">
        <p class="mb-0 copyright">&copy; {{ now|format:Y }}  Ravenna LLC. All Rights Reserved</p>
    </div>
</footer> 