#app .block-section.quiz{
    padding: 80px 0;
    min-height: 600px;
    background: white;

    .quiz-title{
        margin-bottom: 50px;
        color: $black;
    }

    .steps-row-wrap{
        border: 1px solid $black;
        border-radius: 7px;
        margin: 50px 0 20px;
        overflow: hidden;

        .steps-row{
            @include coolGradient();
            height: 14px;
            width: 0%;
            transition: width 0.3s ease-in-out;
            border-radius: 7px;
        }
    }
    
    .question, .question p, .answer{
        color: $black;
    }
    .question{
        margin-bottom: 50px;
    }

    .answers{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 60px;
        flex-wrap: wrap;
        .answer.btn{
            background: white;
            background-color: white;
            color: $black;
            text-transform: uppercase;
            font-weight: bold;
            width: 48%;
            border: 1px solid $black;
            &:hover{
                background: $purple;
                border: 1px solid $purple;
            }
            &.selected{
                background: $purple;
                border: 1px solid $purple;
            }
            &:last-child{
                margin-right: 0px;
            }
        }

        &.three-up{
            .answer{
                width: 31%;
            }
        }
     

        &.four-up{
            .answer{
                margin-bottom: 24px;
            }
 
        }

        .form-row{
            label{
                color: $black;
                font-size: 2rem;
                padding-right: 20px;
            }
            input{
                margin-left: 20px;
            }
        }
    }


    .next-back{
        a.disabled{
            pointer-events: none;
            opacity: 0.6;
        }
    }
      
     

    @keyframes draw-around {
        0% {
            stroke-dashoffset: 640;
        }
        10% {
            stroke-dashoffset: 640;
        }
        100% {
            stroke-dashoffset: 0;
        }
    }
}