
<div class="container-fluid article-wrapper">
    <div class="row mt-5 mb-5 article-top-band">
      
    </div>
</div>

<div class="container article-wrapper">

    <div class="row article-content">
        <div class="col-12 col-lg-8 mb-5">
            <h1>{{ title }}</h1>

            {{ content }}
                {{ if type == 'text' }}
                    <div class="article-text">
                        {{ text }}
                    </div>
                {{ elseif type == 'advertisement'}}
                    <div class="article-ad">
                        <div class="row">
                            <div class="col-12 col-md-5 ad-image">
                                {{ partial src="includes/icons/growth" }}
                            </div>
                            <div class="col-12 col-md-7 ad-copy">
                                {{ ad_content }}
                            </div>
                        </div>

                    </div>
                {{ elseif type == 'code' }}
                    <div class="code">
                        {{ inline_code }}
                            <pre class="language-{{ mode }}"><code>{{ code | entities  }}</code></pre>
                        {{ /inline_code }}
                    </div>
                {{ /if }}
            {{ /content }}
        </div>

        <div class="col-12 col-lg-4 client-right">
            {{ if categories }}
                <h4>Categories</h4>
                <ul>
                    {{ categories }}
                        <li>{{ title }}</li>
                    {{ /categories }}
                </ul>
            {{ /if }}

            {{ if tags }}
                <h4>Tags:</h4>
                <ul>
                    {{ tags }}
                        <li>{{ title }}</li>
                    {{ /tags  }}
                </ul>
            {{ /if }}

            {{ if infographic }}
                <div>
                    <img src="{{ infographic }}" alt="{{ infographic:alt }}" class="img-fluid" />
                </div>
            {{ /if }}
        </div>
    </div>


</div>