
{{ push:templateSD }}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "BlogPosting",
            "headline": "{{ title }}",
            "description": "{{ seo.description }}",
            {{ author }}
                "author": {
                    "@type": "Person",
                    "name": " {{ name }}"
                  },
            {{ /author }}
            "datePublished": "{{ date }}",
            "image": "{{ thumbnail }}",
            "publisher": {
              "@type": "Organization",
              "name": "Ravenna Interactive Our Thinking",
              "logo": {
                "@type": "ImageObject",
                "url": "https://ravennainteractive.com/assets/img/ravenna.png"
              }
            },
            "mainEntityOfPage": {
              "@type": "WebPage",
              "@id": "{{ url}}"
            },
            "articleBody": "In this article, we explore the best structured data for blog articles...",
            "keywords": "{{ seo.keywords}}"
          }
    </script>
{{ /push:templateSD }}



<div class="container-fluid article-wrapper">
    <div class="row mt-5 mb-5 article-top-band">
      
    </div>
</div>

<div class="container article-wrapper">

    <div class="row article-content">
        <div class="col-12 col-lg-8 mb-5">
            <h1>{{ title }}</h1>
            {{ if author }}
                <div class="article-meta d-flex flex-row justify-content-start align-items-center mb-4">
                    {{ author }}
                        {{ if avatar }}
                            <img class="author-image d-block me-4 rounded-circle" src="{{ avatar }}" alt="Avatar of {{ name }}">
                        {{ /if }}
                        <span class="text-white leading-none">{{ name }} &mdash;  <span class="date">{{ date }}</span></span>
                    {{ /author }}
                </div>
            {{ /if }}


            {{ content }}
                {{ if type == 'text' }}
                    <div class="article-text">
                        {{ text }}
                    </div>
                {{ elseif type == 'advertisement'}}
                    <div class="article-ad">
                        <div class="row">
                            <div class="col-12 col-md-5 ad-image">
                                {{ partial src="includes/icons/growth" }}
                            </div>
                            <div class="col-12 col-md-7 ad-copy">
                                {{ ad_content }}
                            </div>
                        </div>

                    </div>
                {{ elseif type == 'code' }}
                    <div class="code">
                        {{ inline_code }}
                            <pre class="language-{{ mode }}"><code>{{ code | entities  }}</code></pre>
                        {{ /inline_code }}
                    </div>
            

                {{ elseif type == 'embed_code' }}
                    <div class="code embed-container ">
                        {{ embed }}
                    </div>
                {{ /if }}
            {{ /content }}
        </div>

        <div class="col-12 col-lg-4 client-right">
            {{ if categories }}
                <h4>Categories</h4>
                <ul>
                    {{ categories }}
                        <li>{{ title }}</li>
                    {{ /categories }}
                </ul>
            {{ /if }}

            {{ if tags }}
                <h4>Tags:</h4>
                <ul>
                    {{ tags }}
                        <li>{{ title }}</li>
                    {{ /tags  }}
                </ul>
            {{ /if }}

            {{ if infographic }}
                <div>
                    <img src="{{ infographic }}" alt="{{ infographic:alt }}" class="img-fluid" />
                </div>
            {{ /if }}
        </div>
    </div>


</div>