{{ push:templateSD }}
<script type="application/ld+json">

{
    "@context": "https://schema.org",
    "@type": "CreativeWork",
    "name": "{{ title }}",
    "url": "{{ current_url }}",
    "description": "{{ seo.description }}",
    "thumbnailUrl": "{{ logo }}",
    "image": "{{ gallery[0].url }}",
    "datePublished": "2023-07-15",
    "author": {
      "@type": "Organization",
      "name": "Ravenna"
    },
    "client": {
      "@type": "Organization",
      "name": "{{ title }}",
      "url": "{{ client_url }}"
    },
    "about": {
      "@type": "Thing",
      "name": "{{ seo.title }}",
      "description": "{{ seo.description }}"
    },
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ current_url }}"
    },
    "creator": {
      "@type": "Organization",
      "name": "Ravenna"
    }
  }
</script>

{{ /push:templateSD }}
<div class="container client-wrapper">

    <div class="row mb-5">
        <div class="col">
            <h1 class="seafoam">{{ title }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6 mb-5">
            {{ about }}

            {{ result }}
        </div>

        <div class="col-12 col-lg-5 offset-lg-1 client-right">
            {{ if cool_facts }}
                <h4>Cool Facts</h4>
                <ul>
                    {{ cool_facts }}
                        <li>{{ value }}</li>
                    {{ /cool_facts }}
                </ul>
            {{ /if }}

            {{ if apis_integrated }}
                <h4>Connected APIs</h4>
                <ul>
                    {{ apis_integrated}}
                        <li>{{ value }}</li>
                    {{ /apis_integrated }}
                </ul>
            {{ /if }}

            {{ if quote }}
                <div class="client-quote">
                    <div class="quote-icon">{{ partial:includes.icons.quote-left }}</div>
                    <blockquote>{{ quote }}</blockquote>
                    <p><i>{{ quote_author }}</i></p>
                </div>
            {{ /if }}
        </div>
    </div>

    <div class="container">
        <div class="gallery mt-5 mb-5" x-data="gallery">
            {{ if one_image }}
                {{ gallery }}
                    <img src="{{ url }}" alt="{{ alt }}" class="img-fluid">
                {{ /gallery }}
            {{ elseif gallery }}
                {{ gallery }}
                    <div class="gallery-image"  >
                        <a href="#" @click.prevent="showLarge" title="Open Gallery" data-image="{{ url }}">
                            {{ if thumbnail }}
                                <img src="{{ thumbnail }}" alt="{{ alt }}">

                            {{ else }}
                                <img src="{{ glide :src="url" w="200" }}" alt="{{ alt }}">
                            {{ /if }}
                        </a>
                    </div>
                {{ /gallery }}
            {{ else }}
                
                    <p class="lead seafoam-bg px-2 py-1">Images coming soon!</p>
            {{ /if }}

            <div class="gallery-modal" x-show="open" x-transition>
                <div class="close" @click="close">
                    <img src="{{ config:app:url }}assets/xmark-solid.svg " alt="close modal">
                </div>
                <div class="gallery-modal-image" >
                    <img src="" alt="" id="gallery-modal-image">
                </div>
            </div>
        </div>
    </div>
</div>