---
rotate:
  - one
  - two
  - three
---

<div class="container">

    <div class="hero">
        <h1 class="teal mb-5">Deeper Dive</h1>
        <p>After 15+ years our list of clients is long.  But its not the size that matters, but quality.</p>
    </div>
    <div class="client-boxes" x-data="{
        rotate: [
            'rotate-one',
            'rotate-two',
            'rotate-three'
        ],
        random(){
            return this.rotate[(Math.random() * this.rotate.length) | 0];
        }

    }">
        {{ collection:clients }}
            <div class="client-box" :class="random">
                <a href="{{ url }}" title="{{ title }}">
                    <img src="{{ logo }}" alt="{{ title }}">
                </a>
            </div>
        {{ /collection:clients }}
    </div>
</div>