{{ push:templateSD }}
<script type="application/ld+json">

{
    "@context": "https://schema.org",
    "@type": "CreativeWork",
    "name": "{{ title }}",
    "url": "{{ current_url }}",
    "description": "",
    "thumbnailUrl": "{{ logo }}",
    "image": "{{ gallery[0].url }}",
    "datePublished": "2023-07-15",
    "author": {
      "@type": "Organization",
      "name": "Ravenna"
    },
    "about": {
      "@type": "Thing",
      "name": "",
      "description": ""
    },
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ current_url }}"
    },
    "creator": {
      "@type": "Organization",
      "name": "Ravenna"
    }
  }
</script>
{{ /push:templateSD }}
{{ push:bodyClass}} client-template-two {{ /push:bodyClass}}

<div class="container client-wrapper">

    <div class="row mb-5 client-title">
        <div class="col-12 col-lg-8 col-xl-9">
            <p><a href="" class="back eyebrow">&larr; All Case Studies</a></p>
            <h1 class="">{{ title }}</h1>
        </div>
        <div class="col-12 col-lg-9">
            <p class="large">{{ big_statement }}</p>
            <ul class="tags">
                {{ tags }}
                    <li>{{ value }}</li>
                {{ /tags }}
            </ul>
        </div>
    </div>

    <div class="row client-box-wrapper">
        {{ top_three_boxes }}
            <div class="col-12 col-lg-4">
                <div class="client-box">
                    <h5>{{ box_title }}</h5>
                    <p>{{ box_copy }}</p>
                </div>
            </div>
        {{ /top_three_boxes }}
    </div>
</div>

<div class="auto-scroll-gallery">
    <div class="embla">
        <div class="embla__container">
            {{ gallery }}
                <div class="embla__slide"><img src="{{ url }}" alt="{{ alt }}"></div>
            {{ /gallery }}
        </div>
    </div>
</div>

<div class="container client-wrapper">
    <div class="client-meta-grid-wrapper">
        <div class="row client-meta-grid">
            <div class="col-12 col-lg-4 border-seafoam">
                <div class="logo"><img src="{{ logo }}" alt="{{ title }}"> </div>
            </div>

            <div class="col-12 col-lg-8">
                <div class="row">
                    <div class="col-12 col-md-6 border-seafoam">
                        <div class="grid-box">
                            <div class="eyebrow">Client Industry</div>
                            <p class="meta-desc lead-normal">{{ client_industry }}</p>
                        </div>
                    
                    </div>
                    <div class="col-12 col-md-6 border-seafoam">
                        <div class="grid-box">
                            <div class="eyebrow">Platform</div>
                            <p class="meta-desc lead-normal">
                                {{ if platform == 'Website' }}
                                    {{ partial src="includes/icons/browser" }}
                                {{ else }}

                                {{ /if }}
                                
                                {{ platform }}
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 border-seafoam">
                        <div class="grid-box">
                            <div class="eyebrow">Technology</div>
                            <ul class="meta-tech">
                                {{ technology }}
                                    <li>        
                                        <div>
                                            {{ partial src="includes/icons/{icon}" }}
                                        </div>
                                        <div class="mt-1">{{ name }}</div>
                                    </li>
                                {{ /technology }}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="client-body">
    {{ client_body }}
        {{ if type == 'body_copy' }}
            <div class="client-body-section">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-10 body-text">
                            {{ body }}
                        </div>
                    </div>
                </div>
            </div>

        {{ elseif type == 'quote'}}
            <div class="client-body-section client-quote">
                <div class="container">
                    <div class="quote-icon">{{ partial src="includes/icons/open-quote" }}</div>
                    <div class="row">
                        <div class="col-12 col-md-10">
                            <div class="quote">{{ quote }}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-3 offset-lg-9">
                            <div class="author">
                                <div>
                                    <span class="name">{{ name_title }}</span>
                                    <span class="title">{{ author_title }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        {{ elseif type == 'two_column_w_image_side'}}
            <div class="two-column-image-block client-body-section {{ copy_on_right ? "copy-on-right" : "" }}">
                <div class="container">
                    <div class="row gx-5">
                        <div class="col-12 col-lg-5 body-text {{ copy_on_right ? "order-lg-2" : "" }}">
                            {{ body_copy }}
                        </div>
                        <div class="col-12 col-lg-7 two-column-image">
                            {{ image_column }}
                                <img src="{{ url }}" alt="{{ alt }}" class="img-fluid">
                            {{ /image_column }}
                        </div>
                    </div>
                </div>
            </div>

        {{ elseif type == 'containered_image'}}
            <div class="client-body-section containered-image">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <img src="{{ containered_image }}" alt="{{ alt }}" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>

        {{ elseif type == 'masonry_images' }}
            <div class="client-body-section masonry-gallery">
                <div class="container">
                    <div class="mason-container">
                        {{ images }}
                            <div class="masonry-image {{ size_style }}">
                                <img src="{{ url }}" alt="{{ alt }}" class="img-fluid">
                            </div>
                        {{ /images }}
                    </div>
                </div>
            </div>

        {{ endif }}
    {{ /client_body }}
</div>