---
rotate:
  - one
  - two
  - three
---
<div class="blocks-wrapper">
    {{ blocks }}
        {{ partial src="blocks/_{type}" }}
    {{ /blocks }}
</div>

<div class="container">
    <div class="client-boxes" x-data="{
        rotate: [
            'rotate-one',
            'rotate-two',
            'rotate-three'
        ],
        random(){
            return this.rotate[(Math.random() * this.rotate.length) | 0];
        }

    }">
        {{ collection:clients }}
            <div class="client-box" :class="random">
                <a href="{{ url }}" title="{{ title }}">
                    <img src="{{ logo }}" alt="{{ title }}" {{ if square_logo }} class="square-logo" {{ endif}}>
                </a>
            </div>
        {{ /collection:clients }}
    </div>
</div>