<div class="service-wrapper">
    <div class="container">

        <div class="row mb-5">
            <div class="col-12">
                <h1 class="seafoam mb-4">Certified Laravel Development Services</h1>
            </div>
            <div class="col col-lg-8">
                <p>We love building things with Laravel. It is a versatile web framework that is great for a wide range of web development tasks. Here are some of the ways we have used Laravel:</p>
                <ol>
                    <li><strong>Building web applications:</strong> Laravel is ideal for building web applications of all sizes, from small startups to large enterprise solutions. Its MVC architecture, built-in tools, and elegant syntax make it straight forward to develop complex applications quickly and efficiently.</li>
                    <li><strong>Creating APIs:</strong> Laravel's built-in API support and resource controllers make developing APIs for web and mobile applications easy. With Laravel, you can quickly build a RESTful API that any client can consume. </li>
                    <li><strong>E-commerce websites:</strong> Laravel's modular architecture and built-in tools like Eloquent ORM make it easy to build e-commerce websites. Laravel also has many packages and plugins that can add functionality to an e-commerce site, such as payment gateways and shopping carts.</li>
                    <li><strong>Content Management Systems (CMS):</strong> Laravel can be used to build custom CMS solutions tailored to your organization's needs. Laravel's built-in authentication, routing, and caching features make it easy to develop secure, scalable CMS solutions.</li>
                    <li><strong>Social networking sites:</strong> Laravel's modular architecture and built-in user authentication and authorization support make it easy to build social networking sites. Laravel also has many packages and plugins that can add functionality, such as chat and messaging.</li>
                    <li><strong>Real-time applications:</strong> Laravel can build real-time applications using tools like Laravel Echo and Pusher. These tools make it easy to build real-time chat applications, notifications systems, and other applications that require real-time updates.</li>
                    <li><strong>Custom web applications:</strong> Laravel's flexibility and extensibility make it a great choice for building custom web applications of all types. Whether you need to build a custom CRM, project management tool, or other web application, Laravel provides a solid foundation to build your application.</li>
                </ol>
            
            </div>
        </div>

        <div class="row service-types">
            <div class="col-12 col-md-5">
                <div class="service-card no-border">
                    <h2>Laravel<br><span class="seafoam">Development</span></h2>
                    <p>We can build modern, feature-rich web applications, and then maintain, provide support and help minimize risk.</p>
                </div>
                <div class="service-card">
                    <div class="icon">{{ partial src="includes.icons.screen" }}</div>
                    <h3>SaaS Application Development</h3>
                    <p>We can develop software-as-a-service (Saas) web applications based on your requirements.</p>
                </div>
                <div class="service-card">
                    <div class="icon">{{ partial src="includes.icons.gears-people" }}</div>

                    <h3>API Integrations</h3>
                    <p>If your system needs to integration with third party apis, we can support you. We've written and supported with more API's than we can count.</p>
                </div>
            </div>
            <div class="col-12 col-md-7">
                <div class="service-card">
                    <div class="icon">{{ partial src="includes.icons.money" }}</div>
                    <h3>Ecommerce, Transactional</h3>
                    <p>Need a website that can charge for membership, sell to groups, create recurring revenue, or sell a product? We can do that with Laravel. </p>
                </div>
                <div class="service-card">
                    <div class="icon">{{ partial src="includes.icons.building" }}</div>
                    <h3>Enterprise Efficiency</h3>
                    <p>Small, medium and large scale systems built to your requirements</p>
                </div>
                <div class="service-card">
                    <div class="icon">{{ partial src="includes.icons.nodes" }}</div>
                    <h3>Put it all Together</h3>
                    <p>Most of the time we find that customers will need a mix of some or all of these things.</p>
                </div>
            </div>
        </div>

        <div class="row pb-5">
            <div class="col text-center"><a href="#section-4" title="Lets Talk" class="btn">Lets Talk</a></div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row duotone">
            <div class="col">
                <div 
                    class="container faderator" 
                    x-data="{
                        classes: ['option-one', 'option-two', 'option-three'],
                        currentClass: 0,
                        loopClasses(){     
                            this.intervalId = setInterval(
                                () => {                                                
                                    if(this.currentClass == 2){
                                        this.currentClass = 0;
                                    } else {
                                        this.currentClass++;
                                    }
                                },
                                5000,
                            );
                        }
                    }" 
                    x-init="loopClasses"
                >
                    <div class="fader" :class="classes[currentClass]">
                        <div class="shape-wrapper">
                            <div class="shape">
                                <div class="shape-titles">
                                    <p class="super-big">Bring your idea to life</p>
                                </div>
                            </div>
                        </div>
                        <p class="super-big">Bring your idea to life</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-12 col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                <h3>You have questions<br><span class="seafoam">We have answers</span></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                <div x-data="{ 
                    active: 0,
                    expand(i){
                        this.active = i;
                    }
                }" class="faqs">
                    {{ faqs }}
                        <div class="accordion" role="region">
                            <button @click="expand({{ index }})" :class="active === {{index}} ? 'active' : ''">
                                <span>{{ question }}</span> {{ partial src="includes.icons.xmark" }}
                            </button>
                            <div class="answer" x-show="active === {{ index }}" x-collapse >
                                {{ answer }}
                              
                            </div>
                        </div>
                    {{ /faqs }}
                </div>

                <script type="application/ld+json">
                    {
                      "@context": "https://schema.org",
                      "@type": "FAQPage",
                      "mainEntity": [
                        {{ faqs }}
                            {
                            "@type": "Question",
                            "name": "{{ question }}",
                            "acceptedAnswer": {
                              "@type": "Answer",
                              "text": "{{ answer | strip_tags | decode }}"
                            }
                          }{{ if !loop.last }},{{ /if }}
                        {{ /faqs }}
                      ]
                    }
                    </script>
            </div>
        </div>
    </div>

    {{ partial src="home-sections.form" }}

</div>