#app footer {
	position: relative;
	z-index: 110;
	background: $dkGreen;
	padding: 60px 0;
 
	.footer-logo{
		margin-bottom: 20px;
		img{
			max-width:  220px;
			height: auto;
		}
	}
	.footer-social{
		margin-left: -13px;
		
		svg{
			width: 60px;
			height: 60px;
			margin-right: 14px;
			opacity: 1;
			transition: all 0.3s;
			&:hover{
				opacity: 0.8;
				transition: all 0.3s;
			}
		}
	}

	ul{
		margin-top: 16px;
		padding-left: 0;
		list-style-type: none;
		li{
			margin-bottom: 14px;
		}
		a{
			color: $white !important;
			text-decoration: none;
			&:hover{
				color: $purple !important;
			}

		}
	}
	.copyright{
		color: $ltGrey;
	}
}