
$seafoam: #5AECA4;
$teal: #40A6F2; 
$blue: #4E4ABA;
$purple: #D746A6;
$yellow: #E0FF1F;
$white: #F7F7F8;
$gray: #9dA2A7;
$black: #050D09;

$dkGreen: #0A1B12;
$dkGrey: #323C3F;
$medGrey: #4A5457; 
$grey: #9DA2A7;
$ltGrey: #E0E2E8;

$yellowRGB: rgb(224, 255, 31);
$seafoamRGB: rgb(90, 236, 164);
$purpleRGB: rgb(215, 70, 166);
$blueRGB: rgb(78, 74, 186);
$tealRGB: rgb(64, 166, 242);

$yellowRGB80: rgba(224, 255, 31, 0.8);
$seafoamRGB80: rgba(90, 236, 164, 0.8);





//images
$linkedin: '../assets/img/linkedin-in.svg';
$facebook: '../assets/img/facebook-f.svg';
$instagram: '../assets/img/instagram.svg';
$twitter: '../assets/img/twitter.svg';